<header class="position-relative">
    <div class="header-info pt-2 pb-2 pt-md-0 pb-md-0 pt-lg-4 pb-lg-4">
        <div class="container">
            <div class="row flex-nowrap align-items-center justify-content-between m-0">
                <div class="col-4 d-lg-none d-flex">
                    <i class="fa fa-search search-mobile_button" onclick="toggleElement('search-mobile')"></i>
                </div>

                <a class="col-4 d-none d-lg-flex logo" href="/">
                    @ViewData["Title"]
                </a>

                <div class="col-4 d-none d-lg-flex justify-content-center">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <div class="search_wrapper d-flex">
                            <input class="search-query_input pl-3" type="text" name="q" placeholder="Поиск по товарам" value='@Context.Request.Query["q"]' />
                            <input class="search-query_btn" type="submit" value="Поиск" />
                        </div>
                    </form>
                </div>

                <div class="col-4 d-flex d-lg-none justify-content-center p-0 p-md-4">
                    <a class="logo d-flex" href="/">
                        @ViewData["Title"]
                    </a>
                </div>

                <div class="col-4 d-flex justify-content-end">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="row d-block d-sm-flex justify-content-sm-between align-items-center pb-3 pt-3 pl-3">
                <div class="menu-item">
                    <btn class="menu-catalog_btn btn btn-danger d-block d-sm-inline mb-2 mb-sm-0" onclick="toggleElement('menu-catalog')">
                        Каталог
                    </btn>
                </div>

                <div id="menu-catalog" class="menu-catalog">
                    <div class="menu-catalog_wrapper p-3 col">
                        <vc:categories-menu />
                    </div>
                </div>

                <div class="justify-content-sm-end">
                    <a asp-controller="Home" asp-action="Delivery" class="menu-item_link d-block d-sm-inline mr-sm-3 mb-2 mb-sm-0 text-center text-sm-left">
                        Доставка
                    </a>
                    <a asp-controller="Home" asp-action="FAQ" class="menu-item_link d-block d-sm-inline mr-sm-3 mb-2 mb-sm-0 text-center text-sm-left">
                        FAQ
                    </a>
                    <a asp-controller="Home" asp-action="About" class="menu-item_link d-block d-sm-inline mr-sm-3 mb-2 mb-sm-0 text-center text-sm-left">
                        О нас
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="search-mobile @(Context.Request.Query.ContainsKey("q") ? "active" : String.Empty)" id="search-mobile">
        <div class="container">
            <form asp-controller="Home" asp-action="Index" method="get">
                <div class="search_wrapper d-flex d-lg-none pt-3">
                    <input class="search-query_input w-75 pl-3" type="text" name="q" placeholder="Поиск по товарам" value='@Context.Request.Query["q"]' />
                    <input class="search-query_btn w-25" type="submit" value="Поиск" />
                </div>
            </form>
        </div>
    </div>
</header>